@config "../../tailwind.config.mjs";
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --radius: 14px;
}

html, body { height: 100%; }

.prose :where(code):not(:where([class~="not-prose"] *)) {
  @apply rounded px-1 py-0.5 bg-neutral-100 dark:bg-neutral-800;
}

.prose ::selection {
  background: rgba(120, 120, 120, 0.25);
}
